@import url('https://fonts.googleapis.com/css?family=Anton|Audiowide|Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 760px){
    body{
        width: 760px;
        font-family: 'Teko', sans-serif;
    }
    h1{
        text-transform: uppercase;
    }
    #titulo-jornal{
        font-size: 70px;
        margin: 0 auto;
        width: fit-content;
        font-family: 'Anton', sans-serif;
    }
    #borda-grossa{
        border-top: 3px solid;
        border-bottom: 3px solid;
        width: 700px;
        margin: 10px auto;
    }
    #borda-fina{
        border-top: 2px solid;
        border-bottom: 2px solid;
        margin: 3px 0;
    }
    article{
        border: 1px solid;
        margin-top: 10px;
    }
    #exclusivo{
        width: 700px;
        margin: 10px auto;
    }
    .titulo-section{
        color: #fff;
        background: black;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        padding: 4px 0 0px 15px;
    }
    #exclusivo article{
        margin-top: 10px;
        width: 700px;
    }
    #exclusivo h1{
        font-size: 150px;
        line-height: 150px;
        text-transform: uppercase;
        text-align: center;
    }
    #exclusivo p{
        text-align: center;
        font-size: 40px;
        font-style: italic;
    }
    #exclusivo img{
        width: 650px;
        margin: 15px 25px;
    }
    #secoes-lado-a-lado{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: 0 auto;
    }
    #secoes-lado-a-lado section{
        width: 345px;
    }
    #secoes-lado-a-lado article{
        width: 345px;
        padding: 10px;
    }
    #secoes-lado-a-lado h1{
        font-size: 40px;
        line-height: 40px;
    }
    #secoes-lado-a-lado p{
        font-size: 28px;
        margin: 10px 0;
        font-style: italic;
    }
    #secoes-lado-a-lado img{
        width: 323px;
    }
}


