@font-face {
  font-family: HarryPotterFont1;
  src: url(Fonts/dum3/dum3.ttf);  
}

@font-face {
  font-family: HarryPotterFont2;
  src: url(Fonts/LUMOS.TTF);
}

* {
  font-family: HarryPotterFont1;
  margin: 0;
  padding: 0;
}

body {  
  background-color: black;
  font-size: 16px;  
}

#body-container {
  background-color: rgb(233, 193, 163);
  margin: 10px 0 0;
  padding: 0 20px 0;
  border-radius: 15px;
  height: auto;
}

header {
  padding-top: 30px;
  text-align: center;  
}

#header-h1 {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 114px;
}

header > p {
  font-size: 38px;
  font-family: HarryPotterFonts2;
  color: rgb(47, 47, 47);
}

header > p > span {
  color: rgb(190, 95, 17);
}

header > hr:nth-child(1) {
  border-width: 0.1875em 0 1px 0;
  border-color: black;
  height: 0.125em;
}

header > hr:nth-child(4) {
  border-width: 1px 0 0.1875em 0;
  border-color: black;
  height: 0.125em;
}

section {
  background-color: rgb(255, 255, 0);
  height: auto;
  padding: 0 20px;
}

section > h1 {
  text-align: center;
  font-size: 61px;
}

section > p {
  text-align: center;
  font-size: 23px;
}

#video-content {
  text-align: center;
  margin-top: 20px;
}

article {  
  background: red;
  height: auto;
}

footer {
  background: green;
  height: 50px;
}

@media screen and (max-width:760px) {
  #header-h1 {
    font-size: 15vw;
  }

  header > p {
    font-size: 5vw;
  }
  
  section > h1 {
    font-size: 8vw;
  }

  section > p {
    font-size: 3vw;
  }

  .bird1 {
    position: relative;
    width: 100px;
    margin-top: -70px;
  }

  #bird {
    left: 40%;
    animation-name: fly;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in;
    animation-direction: alternate;
  }

  #bird:hover {
    background: red;
    animation-play-state: paused;
  }

  @keyframes fly {
    0% {
      left: 40%;
      top: 5px;
    }
    25% {
      top: 100px;
    }
    50% {
      top: 80px;
    }
    75% {
      top: 25px;
    }
    100% {
      left: -60%;
      top: 120px;
    }    
  }
}
