@media only screen and (max-width: 760px) {
  body {
    background-color: bisque;
  }

  #top-bar {
    background-color: darkslategray
  }

  #top-text {
    color: rgb(197, 197, 197);
  }

  #header {
    align-content: center;
    margin: auto;
  }

  .container-top {
    width: 100%;
    margin: auto;
  }
  ul {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
  }


  footer {
    background-color: darkslategray;
  }
}

@media (min-width: 760px) {
  * {
    padding: 0;
    margin: 0;
    cursor: url(wand.png), auto;
  }

  body {
    background-color: bisque;
  }

  #top-bar {
    background-color: darkslategray
  }

  #top-text {
    color: rgb(197, 197, 197);
  }

  #header {
    width: 100%;
  }

  footer {
    background-color: darkslategray;
  }
}
