* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body {
  width: 100%;
  height: 100%;
  background-color: #0b0704;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  white-space: normal;
}

div.estrela {
  width: 90px;
  height: 90px;
  position: absolute;
  top:50px;
  left:270px;
  background: #fff8ee url(img/estrelas.gif) no-repeat;
  background-position: 3px -168px;
}

.container > .titulo {
  display: flex;
  justify-content: center;
}

.container > .titulo > h1 {
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  font-family: 'Ma Shan Zheng', cursive;
  text-decoration: underline;
}

.container > .titulo > img {
  margin-top: 3%;
  margin-right: 3%;
  width: 8%;
}

.container {
  width: 70vw;
  height: 90%;
  margin: 2%;
  background-color: #fff8ee;
  border-radius: 20px;
}

.container > div {
  display: flex;
  justify-content: center;
}

.container .nota {
width: 20%;
margin: 3%;
}

.container .nota > h2 {
  font-size: 2em;
}
.container .nota > p {
  margin: 3% auto;
}

img.bruxa {
  background-repeat:no-repeat;
  background-image: url(img/bruxa.svg);
  background-size: contain;
  height: 100px;
  width: 100px;
}

.container > div {
  display: flex;
  justify-content: center;
}

.container .left , .container .right {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2%;
}

.container .right > h2 , .container .left > h2  {
  font-size: 2em;
  text-align: center;
}

.container .right > img.snape {
  width: 95%;
  margin: 3% auto;
  border-radius: 5px;
}

.container .right > img.nimbus {
  margin: 3% auto;
  width: 48%;
}

.container .left > p {
  margin: 3% 6%;
}

.container .left > img {
  width: 90%;
  margin: 0 auto;
  margin-top: 7%;
  border-radius: 5px;
}

img.bruxa {
  margin-left:10%;
  animation-name: move1, move2, move1;
  animation-duration: 2000ms, 2000ms, 2000ms;
  animation-delay: 3000ms, 2000ms, 4000ms;
  animation-timing-function: ease-in, ease-in, ease-in;
  animation-fill-mode: forwards;
}

img.nimbus {
  width: 40%;
  animation-name: todos;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes move1 {
from {
  transform: translateX(80px) translateY(-100px);
}
to {
  transform: translateX(0) translateY(0);
}
}

@keyframes move2 {
from {
  transform: translateX(0) translateY(0);
}
to {
  transform: translateX(80px) translateY(-100px);
}
}

@keyframes todos {
0%{
  transform:scale(1);
}
16.6% {
  transform:scale(2) rotate(0deg);
}
33.3% {
  transform:scale(2) rotatez(360deg);
}
50% {
  transform:scale(2) rotate(360deg) translateY(-100px);
}
66.6% {
  transform:scale(2) rotate(0deg) translateY(-100px) skew(15deg, 15deg);
}
83.2% {
  transform:scale(2) rotate(0deg) translateY(-400px) skew(15deg, 15deg) translateX(1000px);
}
100% {
  transform:scale(2) rotate(0deg) translateY(-400px) skew(15deg, 15deg) translateX(1000px);
}
}

@media (max-width: 760px)
{
h1 {
  margin-bottom: 4%;
}

div.estrela {
  display: none;
}

.container {
  overflow:scroll;
}

.container > .titulo > img {
  display: none;
}

.container > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .left {
  order: 3;
}

.container .right {
  order: 2;
}

.container .nota {
  order: 1;
}

.container .right , .container .left {
  width: 100%;
}

.container .right > p {
  margin: 8% 8%;
}

.container .right > h2 {
  margin-top: 5%;
}

.container .right > img.snape {
  margin: 4% auto;
  width: 80%;
}

.container .left > p {
  margin: 8% 11%;
}

.container .left > img {
  width: 80%;
}

.container .nota {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
}

.container .nota > h2 {
  text-align: center;
}

.container .nota > p {
  margin: 6% 6%;
  margin-right: 10%;
}
}
