* {
	border: 1px solid red;
}

header {
  text-align: center;
}

#box-noticias {
	display: flex;
  flex-wrap: wrap;
}

.artigo {
	display: flex;
}

.cresce {
	animation: scaling 4s linear;
}

#vassoura {
	width: 30%;
}

.anima-vassoura {
	animation: vassoura 5s linear;
}

@keyframes vassoura {
	0% {
		transform: rotate(0deg) scale(1.0, 1.0);
	}

	50% {
		transform: rotate(-90deg) scale(1.0, 1.0);

	}

	100% {
		transform: rotate(-90deg) scale(2.0, 2.0);
	}
}

@keyframes scaling {
    0% {
      transform: scale(1.0, 1.0);
    }
    100% {
      transform: scale(1.5, 1.5);
    }
  }

@media (max-width: 760px) {
	* {
		border: 1px solid blue;
	}
}
