* {
	border: 1px solid red;
}
header {
  text-align: center;
}

#box-noticias {
	display: flex;
  flex-wrap: wrap;
}

.artigo {
	display:flex;
}

.cresce {
	animation: scaling 4s linear;
}

@keyframes scaling {
    0% {
      transform: scale(1.0, 1.0);
    }
    100% {
      transform: scale(1.5, 1.5);
    }
  }

@media (max-width: 760px) {
	* {
		border: 1px solid blue;
	}
}
