* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pegadas-pai {
  width: 5%;
  position: absolute;
  bottom: 0;
  left: 0;

}

#pegadas {
  width: 100%;
}

.clear {
  clear: both;
}

.jornal {
  background-color: rgb(225, 225, 221);
  margin: 1em auto;
  box-sizing: border-box;
  padding: 1em;
  width: 1600px;
  border-radius: 1em;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
}

header #dailyprophet {
  width: 900px;
  filter: grayscale(40%);
}

.blocoItensNavBar {
  margin: 10px 0 30px;
  background-color: gray;
}

.itensNavBar {
  display: inline-block;
  background-color: rgb(92, 91, 91);
 
}

li {
  font-size: 40px;
  display: none;
}

ol {
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: greenyellow;
}

.para-cego-ver {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container-pai {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

article {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.container1 {
  width: 40%;
}

.container2-pai {
  box-sizing: border-box;
  width: 60%;
}

.container2 {
  border-left: 1px solid grey;
  height: 100%;
  margin-left: 5%;
}

img#malfoy {
  width: 300px;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin-right: 150px;
  filter: grayscale(100%);
}

img#albus {
  width: 400px;
  border-radius: 60%;
  filter: grayscale(100%);
}

img#bellatrix {
  width: 100%;
  border-radius: 10%;
  filter: grayscale(100%);
}

p.texto-section {
  font-size: 1.2em;
  width: 100%;
  text-align: justify;
}

p.texto-section3 {
  font-size: 2.3em;
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
}

hr {
  width: 98%;
  margin: 20px 0;
}


.publicidade {
  width: 30%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

div.container-nimbus {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#nimbus {
  width: 100%;
  margin-top: 50px;
}

p.texto-pub {
  font-size: 2.2em;
  padding: 10px;
}

.blocoFooter {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
}
