body {
  background: linear-gradient( black , blue , lightskyblue , rgb( 255 , 204 , 204 ) , rgb( 255 , 238 , 230 ) );
}

#journal {
  background: rgb( 255 , 248 , 238 );
  height: 1400px;
  width: 98%;
  margin-left: 1%;
}

#star {
  height: 150px;
  width: auto;
  border: none;
  animation-name: Girar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes Girar {

  from {
    transform: rotateX( 0deg );
  }

  to {
    transform: rotateX( 360deg );
  }
}

.articleBox {
  border-bottom: 3px solid peru;
}

header {
  font-size: 100px;
  display: flex;
  justify-content: flex-start;
  border-top: 5px double black;
  border-bottom: 5px double black;
}

header > img {
  border: 5px solid black;
  margin-right: 5.8px;
}

aside > img {
  border-radius: 60%;
  float: right;
  margin-right: 2%;
  height: 250px;
  width: auto;
}


nav {
  border-bottom: 3px solid peru;
}

#beautyDumbText {
  font-size: larger;
  font-weight: 500;
}

.credits {
  text-align: center;
  color: black;
  font-size: 1rem;
  background-color: rgb( 255 , 238 , 230 );
}

@media ( orientation : landscape ) {

  #star {
    animation: Girar 1s linear infinite;
  }

}
