/* * {
  outline: red solid 1px;
} */

@font-face {
  font-family: headline_onehplhs;
  src: url( 'fontes/headoh__-webfont.woff2' ) format( 'woff2' ),
        url( 'fontes/headoh__-webfont.woff' ) format( 'woff' );
  font-style: normal;
}

@font-face {
  font-family: headline_twohplhs;
  src: url( 'fontes/headth__-webfont.woff2' ) format( 'woff2' ),
        url( 'fontes/headth__-webfont.woff' ) format( 'woff' );
  font-style: normal;
}

body {
  max-width: 50rem;
  margin: 1rem auto;
}

#fundo {
  background-image: url( 'imagens/old-paper-background.jpg' );
  border-radius: 1rem;
}

header {
  padding: 0.2rem 0.2rem 0 0.5rem;
}

header > img {
  width: 100%;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 91%;
}

p {
  font-family: headline_twohplhs, sans-serif;
  margin: 0;
  padding: 1rem;
  line-height: 1rem;
  font-size: 1rem;
  text-align: justify;
}

.texto-nav {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.corpo {
  display: flex;
  border: 4px solid black;
  width: 90%;
  margin: auto;
}

#noticias {
  display: flex;
  flex-direction: column;
}

.texto-artigo {
  padding-top: 0.5rem;
}

.cabecalho-noticia {
  text-align: center;
}

.titulo-noticia {
  font-family: headline_onehplhs, sans-serif;
  text-align: center;
  line-height: 9rem;
  padding: 0.5rem 0 0 0.5rem;
  font-size: 10rem;
}

.titulo-noticia-menor {
  font-family: headline_onehplhs, sans-serif;
  padding: 1rem 0 0 1rem;
  font-size: 2.1rem;
}

#gif_dumb {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 100%;
  float: left;
  shape-outside: ellipse();
  margin: 1rem 1rem 0;
}

#noticias-centro {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}

#noticias-inferior {
  display: flex;
}

#titulo-lateral {
  writing-mode: vertical-rl; 
  transform: rotate(180deg);
  padding: 0 1.5rem 0.5rem 1rem;
  font-size: 2.5rem;
}

#gif-pomo {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 100%;
  float: right;
  margin: 1rem 1rem 1rem 0.5rem;
  shape-outside: ellipse();
}

#barra-lateral {
  font-family: headline_twohplhs, sans-serif;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  border-left: 1px solid black;
  background-color: black;
}

aside {
  color: white;
}

footer {
  font-family: monospace, sans-serif;
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* animação pássaro */
.bird {
  background-image: url(http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: 13;
}

.bird-one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 10%;
  left: 50rem;
  transform: scale(0);
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.bird-container-one {
  animation-duration: 3s;
  animation-delay: 3s;
}

/* .bird-rotate {
  animation-name: fly-cycle-invert;
  animation-delay: 6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes fly-cycle-invert {
  100% {
    transform: rotate(180deg);
  }
} */

@keyframes fly-cycle {
  100% {
      background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  from {
    margin-left: -10rem;
    transform: scale(0.6);
  }

  to {
    margin-left: 25rem;
    transform: translateY(0vh) scale(0.6);
  }
}